* {
    font-family: sans-serif;
}

.beforeAfter {
    width: 50%;
    margin-left: 25%;
    position: relative;
}

.beforeAfter p {
    font-size: 1.2rem;
}

#draggable {
    position: absolute;
    width: 100%;
}

.divider {
    position: absolute;
    border-left: 5px solid grey;
    padding: 0;
    margin: 0;
}

.divider div {
    margin-left: -60%;
    margin-top: 10rem;
}

.icon {
    cursor: pointer;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: #000 no-repeat center center;
    background-size: 23px;
    background-image: url(https://s3.amazonaws.com/rxh/projects/before-after/left-right-icon.svg);
}

.beforeAfter-slider img {
    width: 100%;
}

.beforeAfter-slider img:nth-child(1) {
    position: absolute;
}
